body{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Changa', sans-serif;
}
.signup{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    text-align: center;
    border: 3px solid #fff;


}
.success{
    color:#fff;
    background: tomato;
}
.signup img{
    width: 150px;
    height: 150px;
}
.signup hr{
    text-align: center;
    border:0.2px solid #1a508b;
}
.signup a{
    text-decoration: none;
    color: #000;
}
.signup a:hover{
    text-decoration: none;
    color: #00af91;
}
.signup h1{
    color: #1a508b;
    font-weight: 400;   
}

.signup p{
    color: #1a508b;
    font-weight: 400;
    
}
.signup input[type = 'text'], .signup input[type = 'password'],.signup input[type = 'email']{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center; 
    border: 2px solid #ddd;
    padding: 10px 15px ;
    width: 70%;
    outline: none;
    color: #fff;
    border-radius: 10px;
    transition: 0.25s;
    font-family: 'Changa', sans-serif;
}
.signup input[type = 'text']:focus, .signup input[type = 'password']:focus,.signup input[type = 'email']:focus
{
    border-color:#1a508b;
    font-family: 'Changa', sans-serif;
    
}

.signup input[type = 'submit']{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center; 
    border: 2px solid #1a508b;
    padding: 10px 20px ;
    width: 30%;
    outline: none;
    color: #1a508b;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
    font-family: 'Changa', sans-serif;
}
.signup input[type = 'submit']:hover{
    background: #00af91;
    border: 2px solid #00af91;

    color: #fff;
}





















