*{
    padding: 0;
    margin: 0;
    
}

hr
{
    border: #1a508b ;
}
a{
    text-decoration: none;
    color: #1a508b;
}
.post input[type = 'text']{
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center; 
    border: 2px solid #ddd;
    padding: 50px 15px ;
    width: 60%;
    outline: none;
    color: #1a508b;
    border-radius: 10px;
    transition: 0.25s;
    font-family: 'Changa', sans-serif;
    background: #fff;
}
.publish{
    border: 0;
    background: #1a508b;
    display: block;
    margin-top: -10px;
    margin-right:43%;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px 10px ;
    width: 15%;
    outline: none;
    color: #fff;
    border-radius: 6px;
    transition: 0.25s;
    cursor: pointer;
    font-family: 'Changa', sans-serif;
}

.post input[type = 'text']:focus
{
    border-color:#1a508b;
    font-family: 'Changa', sans-serif;
    
}
.publish:hover  
{
    border: 2px solid #00af91;
    background: #00af91;
    color: #fff;
}