*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;

}
body{
    background: #ddd;
    text-align: center;
}
 img{
    border: 1px solid #1a508b;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-top: 2%;
}
span{
    color: #1a508b;
}
.wrapper
{
    max-width: 900px;
    margin: 20px auto;
    padding: 0px 20px;
}
.wrapper .row{
    display: flex;
}
.wrapper .row1
{
    justify-content: flex-start;

}
.wrapper .row section
{
    background: #fff;
    border-radius: 10px;
    width: calc(100% - 0px);
    padding: 20px;
    position: relative;
}
.row section .details,
.row section .bottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row section .details .title
{
    font-size: 20px;
    font-weight: 600;
}
.row section p
{
    margin: 10px 0 17px 0;
}
.row section .bottom a
{
    text-decoration: none;
    /* padding: 7px 15px; */
    font-weight: 600;
}
.share{
    color: #1a508b;    
}
.support{
    color: #1a508b;    
}
@media (max-width: 768px)
{
    .wrapper
    {
        width: 100%;
        padding: 0;
        margin: auto;
    }
    section{
        padding: 0;
    }
}   